@import url('https://fonts.googleapis.com/css?family=Quicksand');

.homepage {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: white
  }
  
.homepage-title {
  margin-top: 100px;
}

.homepage-tooltip {
  margin-right: 5px;
}

.homepage-tooltip:hover {
  color: rgb(104, 11, 185);
  cursor: pointer
}

.accordion {
  margin-top: 25px;
  width: 500px;
  opacity: 0.7;
  border: solid 4px rgb(150, 31, 255);
  border-radius: 4px;
}

.accordionButton {
  font-size: 20px;
  border: none;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
}

.accordionButton:hover {
  color: rgb(161, 54, 255);
}

/* example page */
.example-page-container {
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}

.see-examples-button {
  margin-top: 50px;
  font-size: 24px;
  font-family: "Roboto", sans-serif
}

.see-examples-button:hover {
  cursor: pointer;
  transition: 0.3s all ease;
  color:rgb(188, 152, 255)
}

.example-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-table {
  margin-top: 20px;
  word-wrap: break-word;
}

.example-table tr:nth-of-type(even) {
  background-color: rgba(115, 13, 232, 0.445)
}

.example-table td {
  padding: 5px;
  width: 85px;
}

.example-table thead {
  color: lightpink
}


/* simple examples */

.simple-examples {
  text-align: left;
  margin-top: 50px;
  color: #d5f4ff
}

.simple-examples-container {
  border-top: solid 2px;
  border-color: #acf3ff;
  background-color:rgba(45, 28, 141, 0.1);
  transition: 0.3s all ease;
}

.simple-examples-english-translation {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  text-align: left;
  color: #d5f4ff;
  margin-left: 30px;
  margin-right: 30px;
}

.simple-examples-english-translation:hover {
  color:rgb(146, 228, 255);
  transition: 0.2s all ease;
  cursor: pointer;
}

/* specific examples */

.specific-examples {
  text-align: left;
  margin-top: 50px;
  color: #e7d6ff
}

.specific-examples-container {
  border-top: solid 2px;
  border-color: #e7d6ff;
  background-color:rgba(115, 13, 232, 0.1);
  margin-bottom: 100px;
  transition: 0.3s all ease
}

.specific-examples-english-translation {
  font-size: 18px;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  color: #e7d6ff;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bold;
}

.specific-examples-english-translation:hover {
  color:rgb(172, 94, 255);
  transition: 0.2s all ease;
  cursor: pointer;
}